@font-face {
  font-family: 'butler';
  src: url('../fonts/Butler_Webfont/butler_bold-webfont.woff2') format('woff2'), url('../fonts/Butler_Webfont/butler_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?f93sq5');
  src: url('../fonts/icomoon.woff?f93sq5') format('woff');
  font-weight: normal;
  font-style: normal;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.header-title, .city-title {
  font-family: butler, sans-serif;
}

.header {
  background: #423E3B;
  text-align: center;
  padding: 60px 0;
}

.header-icon {
  display: block;
  width: 200px;
  margin: -20px auto;
}

.header-title {
  display: block;
  margin: -20px 0 0 0;
  text-transform: uppercase;
  color: #fff;
  font-size: 36px;
  letter-spacing: 2px;
}

/*.header-title::before {
  content: "";
  display: block; /*!!!*/

/*background-image: url("/assets/img/header.png");
  margin: 0 auto;
  width: 150px;
  height: 150px;
  background-size: 200px 200px;
  background-repeat: no-repeat;
  background-position: center;
}*/

.header-title::before, .header-title::after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 3px;
  background: #fff;
  vertical-align: middle;
}

.header-title::before {
  margin-right: 10px;
}

.header-title::after {
  margin-left: 10px;
}

.cities {
  padding: 0;
  margin: 0;
  list-style: none;
  /*!!!!!!!!!!!!!!!!!!!!!*/
  /*thing to remove spaces between elements in a row*/
  font-size: 0;
}

.city {
  display: inline-block;
  width: 50%;
  height: 500px;
  overflow: hidden; /*scroll-bar off*/
  vertical-align: top;
  /*!!!!!!!!!!!!!!*/
  /*another thing to remove spaces between elements in a row*/
  /*margin-right: -4px;*/
  text-align: center;
  padding: 60px 0;
}

.city:nth-child(4n+2), .city:nth-child(4n+3) {
  background: #d7d7d7;
}

/*.city-img {
  display: block;
  margin: 0 auto;
  width: 150px;
}*/

.city-title {
  margin: 10px 0 0;
  /*margin-bottom*/
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #423E3B;
}

.city-description {
  margin: 15px auto 0;
  max-width: 550px;
  /*cancel horizontal scrolbar*/
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-size: 18px;
  line-height: 30px;
  color: #666;
}

.footer {
  clear: both;
  padding: 80px 0;
  background: #423E3B;
  text-align: center;
}

.footer-text {
  margin: auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #fff;
  font-style: italic;
  line-height: 30px;
}

@media (max-width: 768px) {
  .responsive-size {
    width: 100%;
  }

  .city:nth-child(2n+2) {
    background: #d7d7d7;
  }

.city:nth-child(2n+1) {
  background: #ffffff;
}

}

/*icons*/

.icon {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-size: 160px;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-amsterdam:before {
  content: "\e900";
}

.icon-austin:before {
  content: "\e901";
}

.icon-barcelona:before {
  content: "\e902";
}

.icon-berlin:before {
  content: "\e903";
}

.icon-cape-town:before {
  content: "\e904";
}

.icon-dublin:before {
  content: "\e905";
}

.icon-london:before {
  content: "\e906";
}

.icon-new-york:before {
  content: "\e907";
}

.icon-paris:before {
  content: "\e908";
}

.icon-san-francisco:before {
  content: "\e909";
}

.icon-stockholm:before {
  content: "\e90a";
}

.icon-sydney:before {
  content: "\e90b";
}

.icon-tokyo:before {
  content: "\e90c";
}

.icon-wellington:before {
  content: "\e90d";
}
